
.list{
margin-left: 40px;

}
.list p{
    margin-top: 20px;
    color: #fff;
    font-size: 20px;


}
.list-table-format{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 0.5fr ;
    gap: 10px;
    align-items: center;
    padding: 12px 15px;
    border: 1px solid #cacaca;
    font-size: 13px;
    color: #fff;
   
}
.list-table-format.title{
    background-color: tomato;
    
}
.list-table-format img{
    width: 50px;
}
.cursor{
    cursor: pointer;
}
@media(max-width:600px){
    .list-table-format{
        grid-template-columns:1fr 3fr 1fr;
        gap: 15px;
    }
    .list-table-format.title{
        display: none;
    }
}
