.sidebar{
    width: 18%;
    min-height: 100vh;
    border:2px dashed #00c497;
    border-top: o;
    font-size: max(1vw,10px);
    color: aliceblue;

}
.sidebar-options{
    padding-top: 50px;
    padding-left: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.sidebar-option{
    display: flex;
    align-items: center;
    gap: 12px;
    border: 2px solid #00c497;
    border-right: 0;
    padding: 8px 10px;
    border-radius: 3px 0px 0px 3px ;
    cursor: pointer;
}
.sidebar-option.active{
    background-color: tomato;
}
@media(max-width:900px){
    .sidebar-option p{
        display: none;
    }
}