# Node Modules
node_modules/
Tomato/Admin/node_modules/
Tomato/Backend/node_modules/
Tomato/frontend/node_modules/

# Environment Files
*.env
*.env.*

# Build Files
dist/
build/
Tomato/Admin/dist/
Tomato/Backend/dist/
Tomato/frontend/dist/
Tomato/Admin/build/
Tomato/frontend/build/

# Logs
*.log

# System Files
.DS_Store
Thumbs.db
.vscode/
.idea/
