
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: outfit;
  scroll-behavior: smooth;
  
}
body{
  min-height: 100vh;
  background: #21232a url(./assets/background.jpg) repeat 0 0; 
}
a{
  text-decoration: none;
  color: inherit;
}
hr{
    border: none;
    height: 1px;
    background: #00c497;
}
.app-content{
    display: flex;
}
.flex-col{
  display: flex;
  flex-direction: column;
  gap: 40px;
}
