.add{
    width: 70%;
    margin-left: max(5vw,25px);
    margin-top: 50px;
    color: #fff;
    font-size: 16px;
}
.add form{
    gap: 20px;

}
.add-img-upload{
    width: 100px;

}
.add-product-name, .add-product-description{
    width: max(40%,280px);
}
.add-product-name input, .add-product-description textarea{
    padding: 10px;
    font-size: 14px;
}
.add-category-price{
display: flex;
    gap: 30px;
}
.add-category-price select ,.add-category-price input{
    max-width: 120px;
    padding: 10px;
    font-size: 14px;

}

.add-btn{
    max-width: 120px;
    padding: 10px;
    background-color: tomato;
    font-size: 14px;
    color: #fff;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

